.profile {
    display: flex;
    gap: 30px;
}
.userDataLinks nav {
  
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.userDataLinks nav a{
    text-decoration: none;
   
}