@import "../../../index.css";
.navbar{
    background-color: #000000 !important;
}
.navbar .dropdown-menu{
    background-color: #000000;

}
.navbar a{
    color: rgb(255, 255, 255) !important;
}

.navbar-nav .nav-item .nav-link{
    font-weight: 700;

}
.navbar-nav .nav-item .nav-link:hover{
    color: var(--mainColor) !important;

}

.navbar-brand img{
    height: 35px;
}
.dropdown-menu .dropdown-item{
    font-weight: 600;
    

}
.dropdown-menu .dropdown-item:hover{
    background-color: #000000;
    color: var(--mainColor) !important;

}