@import url("../../../index.css");
 img{
    aspect-ratio: 200/213;
    width: 100px;
    height: 100px;
    
}
.swiper{
    padding: 50px;
}
.swiper-custom-pgination{
    color: red;
}
.swiper-pagination-bullet{
    background-color: rgb(179, 155, 155) !important;

    
}
.category-name{
    color: rgb(0, 0, 0) !important;
    font-family: var(--secondaryFontFamily);
    
  
   
}


.swiper-button-prev, .swiper-rtl .swiper-button-next,.swiper-button-prev:after, .swiper-button-next:after  {

    color: var(--mainColor); 
    width: 40px;
    height: 40px;
    font-size: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;

}

.categoriesBg{
    background-image: url(/src/components/web/categories/e-commerce-shopping.jpg);
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

}
.products11{
    background-image: url(/src/components/web/categories/categoriesDetalies.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-50px ;

}


.products12 .product:hover{
    opacity: .9;
    border: 7px solid #aca088;

}
.products12 .product{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}