img{
    aspect-ratio: 200/213;
    width: 100px;
    height: 100px;
    
}
.swiper{
    padding: 50px;
}
.swiper-custom-pgination{
    color: red;
}
.swiper-pagination-bullet{
    background-color: rgb(179, 155, 155) !important;

    
}
.category-name{
    color: rgb(141, 116, 116) !important;
    text-decoration: underline;
   
}


.swiper-button-prev, .swiper-rtl .swiper-button-next,.swiper-button-prev:after, .swiper-button-next:after  {
    background-color: rgb(179, 155, 155);
    color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    font-size: 30px !important;
  
    display: flex;
    align-items: center;
    justify-content: center;

}

